{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',
filename='base.css')}}">
{% endblock %}
{% block content %}
<h1>{{title}}</h1>
<div class="d-flex justify-content-center">
<div class="d-flex flex-row w-75 flex-wrap">
{% for auth in list_auth %}
<div class="d-flex flex-column w-25 p-2">
<a class="btn btn-outline-info" href="{{ url_for('detail_author', id=auth.author.id) }}">
{{auth.author.name}}</a>
<div class="d-flex flex-row flex-wrap justify-content-center p-2">
{% for x in auth.books %}
<a href="{{url_for('detail_book', id=x.id)}}">
<img src="{{ url_for('static', filename='images/'+x.img) }}" class="img-thumbnail"
alt="{{x.title}}" title="{{x.title}}|{{x.author.name}}|{{x.price}}" height="100px" width="50px"></a>
{% endfor %}
</div>
</div>
{% endfor %}
</div>
</div>
<a href="{{url_for('add_author',id=-1)}}" class="btn btn-primary mx-5">Add an author</a>
{%if nbp>1%}
    <ul class="p-4 pagination justify-content-center">
        {% if id==1 %}
        <li class="page-item previous disabled"><a class="page-link" href="{{url_for('authors',id=1)}}">Previous</a></li>
        {% else %}
        <li class="page-item previous "><a class="page-link" href="{{url_for('authors',id=id-1)}}">Previous</a></li>
        {% endif %}
      {% for nombre in range(1, nbp+1) %}
      {% if nombre == id %}
        <li class="page-item active"><a class="page-link" href="{{url_for('authors',id=nombre)}}">{{nombre}}</a></li>
        {% else %}
        <li class="page-item" ><a class="page-link" href="{{url_for('authors', id=nombre)}}">{{nombre}}</a></li>
        {% endif %}
        {% endfor %}
        {% if id==nbp %}
        <li class="page-item next disabled"><a class="page-link" href="{{url_for('authors',id=nbp)}}">Next</a></li>
        {% else %}
        <li class="page-item next "><a class="page-link" href="{{url_for('authors',id=id+1)}}">Next</a></li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}
{% block footer %}
<footer class="footer mt-auto py-3 bg-light">
        <div class="container">
        <span class="text-muted">Books, authors and pictures are not my property</span>
        </div>
        </footer>
{% endblock %}