{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='base.css')}}">
{% endblock %}
{% block content %}
<h1>{{title}}</h1>
<div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators fixed-bottom">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1>Books</h1>
        <div class="d-flex justify-content-center">
        <div class="homediv justify-content-around">
          <div class="d-flex flex-row flex-wrap justify-content-around">
            {% for x in books %}
            <div class="d-flex flex-column justify-content-center m-1">
            <a href="{{url_for('detail_book', id=x.id)}}">
            <img src="{{ url_for('static', filename='images/'+x.img) }}" class="img-thumbnail"
            alt="{{x.title}}" title="{{x.title}}|{{x.author.name}}|{{x.price}}" height="120" width="70"></a></div>
            {% endfor %}
            </div></div></div>
      </div>
      <div class="carousel-item">
        <h1>Authors</h1>
        <div class="d-flex justify-content-center">
        <div class="homediv">
            <div class="d-flex flex-row flex-wrap justify-content-around">
                {% for auth in list_auth %}
                <div class="d-flex flex-column justify-content-center m-1">
                <a class="btn btn-outline-info" href="{{ url_for('detail_author', id=auth.id) }}">
                {{auth.name}}</a>
                </div>
                {% endfor %}
                </div></div></div>
      </div>
      <div class="carousel-item">
        <h1>Genres</h1>
        <div class="d-flex justify-content-center">
          <div class="homediv">
              <div class="d-flex flex-row flex-wrap justify-content-around">
                  {% for gen in list_gen %}
                  <div class="d-flex flex-column justify-content-center m-1">
                  <a class="btn btn-outline-info" href="{{ url_for('detail_genre', id=gen.id) }}">
                  {{gen.name}}</a>
                  </div>
                  {% endfor %}
                  </div></div></div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="width: 5%;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="width: 5%;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}